{
	"trailingComma": "none",
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"printWidth": 100,
	"jsxBracketSameLine": false,
	"bracketSameLine": false,
	"jsxSingleQuote": false,
	"arrowParens": "avoid"
}
