header {

	display: flex;
	align-items: center;
	justify-content: space-around;
}

.brand-logo {
	width: 8rem;
	height: auto;
}

.nav-items {
	display: flex;
	gap: 2rem;

}

.nav-item {

	list-style: none;
}

.nav-link {
	color: yellow;
	text-decoration: none;

	font-weight: 700;
	font-size: 1.8rem;
	padding: 0.4em 0.8em;
}

.nav-link.active ,
.nav-link:hover {
	background-color: rgba(255, 255, 0, 0.221);
	border-radius: 4rem;
}

